p {
    font-size: 40px;
    padding: 0px;
    margin: 0px;
}

.sub {
    font-size: 15px;
    padding-bottom: 40px;
}

.header {
    font-family: "NotoSansOsmanya";
    text-align: center;
}

@font-face {
    font-family: 'NotoSansOsmanya';
    src: url('../../static/NotoSansOsmanya-Regular.ttf') format('truetype');
}