.footer {
    font-family: "NotoSansOsmanya";
    text-align: center;
    height: 50px;
    padding-bottom: 20px;
}

@font-face {
    font-family: 'NotoSansOsmanya';
    src: url('../../static/NotoSansOsmanya-Regular.ttf') format('truetype');
}