@font-face {
    font-family: 'NotoSansOsmanya';
    src: url('../../static/NotoSansOsmanya-Regular.ttf') format('truetype');
}

ul {
    list-style-type: none;
    padding: 0;
}
li {
    display: inline-block;
    margin: 0 10px;
}
a {
    color: #292929;
}