#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #e2e0e0;
    margin-top: 50px;
    float: center;
    justify-content: center;
}

html {
    background: rgb(35, 35, 35);
}